body,
body::before,
body::after {
    margin: 0;
    padding: 0;
}

* {
    --purple: rgb(204, 192, 255);
    --light-purple: rgb(240, 146, 255);
}

body {
    height: 100vh;
    font-family: "Kode Mono", monospace;
    font-size: 10px;

    display: grid;
    grid-template-rows: 135px 1fr 135px;
    padding-left: 35px;
    padding-right: 35px;
    justify-items: center;
    background-color: rgb(227, 192, 255);
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

h1 {
    font-size: 6em;
    flex: 1;
    text-align: center;
    margin-right: -160px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 1);
}

#resetBtn {
    height: 70px;
    width: 160px;

}

button {
    font-family: inherit;
    border-radius: 35px;
    border: none;
    background-color: var(--purple);
    border: 1px solid rgb(0, 0, 0);
    transition: 1s;
    height: 40px;
    width: 60px;
}

button:hover {
    background-color: rgb(240, 146, 255);
    transition: 0.3s;
    cursor: pointer;
}

button:active {
    transform: scale(1.04);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.playerCard {
    width: 260px;
    height: 350px;
    padding: 20px;
    border: 1.5px solid black;

    background-color: var(--purple);
    border-radius: 25px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.playerImg {
    max-width: 60%;
    height: auto;
    border-radius: 30%;
    border: 2px solid black;
}

.playerInfo>input[type="text"] {
    font-family: inherit;
    text-align: center;
    font-size: 2.2em;
    width: 150px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 2px solid black;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 260px;
    height: 149px;
    align-items: center;
    align-self: end;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    border: 1px solid black;
}


.radioContainer {
    display: flex;
    padding-top: 25px;
    gap: 20px;

    position: relative;
}

.markerContainer>label {
    display: flex;
    justify-content: center;
}

input[type="radio"] {
    appearance: none;
}

.markerContainer {
    display: flex;
    flex-direction: column;

}

.point {
    height: 15px;
    width: 15px;

    border-radius: 50%;
    background-color: var(--light-purple);
    border: 1px solid black;
}

.pointContainer {
    display: flex;
    width: 100%;
    gap: 5px;
}


label>img {
    width: 57px;
    height: auto;
}

label>img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

footer {
    width: 40%;
    height: 60%;
    background-color: rgb(246, 230, 255);
    grid-row: 3 / 4;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

footer>span {
    font-size: 30px;
}

.boardContainer {
    width: 360px;
    height: 360px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

.cell>img {
    width: 70%;
}

.play {
    width: 50%;
    font-size: 2em;
}

.dot {
    width: 30px;
    height: 10px;

    border-radius: 10px;

    background-color: rgb(255, 80, 80);
    border: 1px solid black;

    position: absolute;
    top: 93px;
    transition: 0.7s;
}

.x {
    left: 12.5px;
    background-color: rgba(255, 97, 95, 255);
}

.o {
    left: 89px;
    background-color: rgba(62, 197, 243, 255);
}

#invalidMove {
    background-color: #fe80b0;
    transition: 0.2s;
}

.invisibleBtn {
    border: none;
    background-color: rgb(162, 8, 8);
    height: 0px;
    width: 0px;
    padding: 0px;
}